*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/alfalfa-*.tar.gz
/stamp-h1
/test-driver

/src/tags

/src/libx264/ssender
/src/libx264/sreceiver
/src/libx264/sender
/src/libx264/receiver
/src/libx264/test_coders
